<% layout('layouts/app') %>



<!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Campaign</h1>
            <span class="color-text-a">"Mari ikut serta dalam gerakan Bersatu Menebar Kebaikan bersama Laz Bunyan"</span>
            <br><br>
            <% if(currentUser && currentUser.role === 'admin') { %>
            <a href="/campaigns/create" class="card-link btn btn-warning text-white">Add new campaign</a>  
            <% } %>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->
  <section class="property-grid grid">
    <div class="container mb-5">
      <div class="row">
            <% for (const campaign of campaigns) { %>
                <div class="col-md-4 mt-5">
                <div class="card-box-a card-shadow">                  
                    <div class="img-box-a">
                        <% for (const image of campaign.images) { %>
                            <img src="/images/<%= image.filename %>" alt="" class="img-a img-fluid">
                        <% } %>          
                    </div>
                <div class="card-overlay">
                    <div class="card-overlay-a-content">
                        <div class="card-header-a">
                            <h2 class="card-title-a">
                            <a href="/campaigns/<%=campaign._id %>"><%= campaign.title %></a>
                        </h2>
                    </div>
                      
                        <div class="card-body-a">
                          <% if (currentUser && currentUser.role === 'admin') { %>
                            <a href="/campaigns/<%= campaign._id %>" class="card-link btn btn-warning text-white">View</a>
                          <% } %>
                        
                            <div class="progress mt-2">
                              <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Rp 3.546.469
                              </div>                      
                          </div>
                        <a href="/" class="link-a">Donasi                          
                        <span class="bi bi-chevron-right"></span>
                       </a>
                        </div>
          <div class="card-footer-a">
            <ul class="card-info d-flex justify-content-around">
              <li>
                <h4 class="card-info-title"><Dana Terkumpul></h4>
                <span>100000
                </span>
              </li>
            
              <li>
                <h4 class="card-info-title">Target</h4>
                <span><%= campaign.target  %></span>
              </li>                     
            </ul>
          </div>
        </div>
      </div>
    </div>
                </div>              
            <% } %>       
      </div>
    </div>
  </section>


